<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Betalyzer</title>
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,500,700,800'
          rel='stylesheet' type='text/css'>
    <link href='http://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="http://cdn.pydata.org/bokeh/release/bokeh-0.12.4.min.css" type="text/css" />

    <script src="https://code.jquery.com/jquery-2.2.4.min.js"
            integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <script src="http://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="http://cdn.pydata.org/bokeh/release/bokeh-0.12.4.min.js"></script>
</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                  aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Betalyzer</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
        </div><!--/.navbar-collapse -->
      </div>
    </nav>

    <div class="jumbotron">
      <div class="container">
        <h1>Calculate All the Betas!</h1>
        <p>This app calculates the betas of hundreds of stocks daily. You can click on a ticker to get the complete
            timeseries of the requested ticker. To recalculate the betas with the freshest data available, please
            click below.</p>
          <!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  Recalcate
</button>

          <!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Recalculate Betas</h4>
      </div>
      <div class="modal-body">
        Clicking the "Start Recalculation" button below will trigger Betalyzer's recalculation function.
          - Get Tickers: Tickers will be fetched from NASDAQ.
          -
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Start Recalculation</button>
      </div>
    </div>
  </div>
</div>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
 {# bokeh_script|indent(4)|safe #}
 {# bokeh_div|indent(4)|safe #}
        <div class="col-md-12">
            <table class="table" id="myTable">
                <thead>
                    <tr>
                        <th>Ticker</th>
                        <th>Name</th>
                        <th>Last Price</th>
                        <th>Market Cap ($mm)</th>
                        <th>IPO Year</th>
                        <th>Sector</th>
                        <th>Industry</th>
                        <th>Beta</th>
                    </tr>
                </thead>
                <tbody>
                    {% for t in dt_tickers %}
                        <tr>
                            <td><a href="/cusip/{{ t['ticker'] }}">{{ t['ticker'] }}</a></td>
                            <td>{{ t['name'] }}</td>
                            <td>{{ fmt(t['last_price']) }}</td>
                            <td>{{ t['market_cap'] }}</td>
                            <td>{{ t['ipo_year'] }}</td>
                            <td>{{ t['sector'] }}</td>
                            <td>{{ t['industry'] }}</td>
                            <td>{{ fmt(t['beta'],2) }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

      </div>

      <hr>

      <footer>
        <p>By Ashish Singal</p>
      </footer>
    </div> <!-- /container -->

    <!-- #### JAVASCRIPT FILES ### -->

            <script>
                $(document).ready(function(){
    $('#myTable').DataTable();
});
            </script>
</body>
</html>